{port_env, 
[{"win32","CFLAGS", "$CFLAGS -DSQLITE_DEFAULT_FOREIGN_KEYS=1 -DSQLITE_THREADSAFE=0 -DSQLITE_USE_URI -DSQLITE_ENABLE_FTS4 -DSQLITE_DEFAULT_PAGE_SIZE=4096"},
{"win32","ERL_LDFLAGS","Ws2_32.lib"},
{"darwin","CFLAGS", "$CFLAGS -DSQLITE_DEBUG  -DSQLITE_DEFAULT_FOREIGN_KEYS=1 -DSQLITE_THREADSAFE=0 -DSQLITE_USE_URI -DSQLITE_ENABLE_FTS4 -DSQLITE_DEFAULT_PAGE_SIZE=4096 -finline-functions -fomit-frame-pointer -fno-strict-aliasing -Wmissing-prototypes -Wall -g -arch x86_64 -std=c99"},
{"linux","CFLAGS", "$CFLAGS -DSQLITE_DEFAULT_FOREIGN_KEYS=1 -DSQLITE_THREADSAFE=0 -DSQLITE_USE_URI -DSQLITE_ENABLE_FTS4 -DSQLITE_DEFAULT_PAGE_SIZE=4096 -finline-functions -fomit-frame-pointer -fno-strict-aliasing -Wmissing-prototypes -Wall -O3 -std=c99"}
]}.


{port_specs, [{"priv/actordb_driver_nif.so", ["c_src/actordb_driver_nif.c","c_src/queue.c","c_src/lz4.c"]}]}.

